
*.log
CrowCrown/Saved/Config/WindowsEditor/Engine.ini
CrowCrown/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
CrowCrown/Saved/Config/CrashReportClient/UECC-Windows-B760C83D4266A27250C2CD8B5BEBA09A/CrashReportClient.ini
CrowCrown/Saved/AutoScreenshot.png
CrowCrown/Saved/Autosaves/PackageRestoreData.json
CrowCrown/Intermediate/CachedAssetRegistry_0.bin
